<li class="items country">Country: {{info.title}}</li>
<li class="items cases">Cases: {{total_cases}}</li>
<li class="items recovered">Recovered: {{total_recovered}}</li>
<li class="items deaths">Deaths: {{total_deaths}}</li>
