<li class="modal-item">
          <p class="time">
            {{dayTime}}
          </p>
          <div class="overlay-icon">
            <img src={{icon}} class="icon-modal"/>
          </div>
          <p class="num">{{temp}}</p>
          <ul class="bonus">
            <li class="bonus-item">
              <p class="text first">772 mm</p>
            </li>
            <li class="bonus-item">
              <p class="text second">54%</p>
            </li>
            <li class="bonus-item">
              <p class="text third">3.7 m/s</p>
            </li>
          </ul>
        </li>